# Ignore heavy models (Send these via USB/Discord instead)
# Environments
.env
langchain_env/
__pycache__/

# Databases
neuro_guard.db

# Ignore environment & build junk
venv/
.env
__pycache__/
build/
.dart_tool/
ios/.symlinks/